* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-blue: #00296b;
  --body-blue: #00509d;
  --button-blue: #8ecae6;
  --main-orange: #fb8500;
  --button-yellow: #ffd500;
}

body {
  background-color: var(--body-blue);
}

#footer {
  background-color: var(--header-blue);
  display: flex;
  height: 20vh;
  align-items: center;
}

#textFooter {
  background-color: var(--main-orange);
  padding: 1vh;
  margin-left: 3%;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 25px;
  font-weight: 300;
}
