* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-blue: #00296b;
  --body-blue: #00509d;
  --button-blue: #8ecae6;
  --main-orange: #fb8500;
  --button-yellow: #ffd500;
}

body {
  background-color: var(--body-blue);
}

nav {
  background-color: var(--header-blue);
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  height: 20vh;
  align-items: center;
}

.logo {
  height: 15vh;
}

ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

li {
  width: 120px;
  background-color: var(--main-orange);
  padding: 5px;
  border-radius: 20px;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: var(--header-blue);
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 2vh;
  align-items: center;
}

#textFooter {
  background-color: var(--main-orange);
  padding: 1vh;
  border-radius: 20px;
  border: 2px solid black;
  font-size: 25px;
  font-weight: 300;
}

#copyright {
  background-color: var(--main-orange);
  padding: 1vh;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}
